<!DOCTYPE HTML>
<html lang = "en-US">
    <head>
        <title>Movie Database</title>
        <link rel = "stylesheet" href = "../css/style.css">
    </head>
    <body>

        <div id = "parent">
            <div id = "child">
                    <header>Welcome To Movie Database</header>    
                    <form action = "/entered">
                        <div id = "form">
                            <div id = "form-text">
                                    <h2>Title :</h2>
                                    <h2>Year :</h2>
                                    <h2>IMDB Rating :</h2>
                            </div>
                            <div id = "form-input">
                                <div><input class = "inputField" type="text" name = "title" placeholder = "Enter Movie" required /></div>
                                <div><input class = "inputField" type = "text" name = "year" placeholder = "Enter Year of release" required /></div>
                                <div><input class = "inputField" type = "text" name = "imdb" placeholder = "IMDB-rating" required /></div>
                            </div>
                        </div>
                        <input type="submit" value = "Submit" id = "submit"/>
                    </form>
            </div>
        </div>
        
        
    </body>
</html>